[Unit]
Description=RobotCar service
After=network.target

[Service]
ExecStart=sh -c "/usr/bin/python3 -u vl53l1x.py & /usr/bin/python3 -u robot.py"
WorkingDirectory=/home/pi/robotcar
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target