[Unit]
Description=Clear service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u clear.py
WorkingDirectory=/home/pi/robotcar/startup
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
